body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
}

.main-card {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  text-align: center;
}

.stat-box {
  border: 2px solid #0a1f30;
  background: white;
  border-radius: 8px;
  padding: 15px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: #333;
}

.stats-panel {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto 50px auto;
  gap: 10px;
}

.next-box {
  background-color: #331f1f;
  border: 2px solid #0a1f30;
  color: #ffffff;
}

.game-area {
  background-color: #e0e0e0;
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}

.seesaw {
  position: absolute;
  left: 50%;
  width: 500px;
  height: 12px;
  bottom: 100px;
  background-color: #273849;
  border-radius: 4px;
  margin-left: -250px;
  transform-origin: center center;
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.pivot {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #707b7c;
}

.box {
  position: absolute;
  bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.reset-btn {
  align-items: center;
  margin-top: 40px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #3b4e5f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-btn:hover {
  background-color: #070d16;
}

.log-container {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  height: 120px;
  overflow-y: auto;
  padding: 10px;
  font-size: 12px;
  color: #666;
  display: flex;
  font-family: Arial, sans-serif;
  flex-direction: column;
  gap: 5px;
}

.log-entry {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 13px;
  color: #2f3542;
  border-left: 4px solid #747d8c;
  animation: slideIn 0.3s ease-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
